<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.groundnine.coupon.dao.CouponDao">
 <resultMap id="BaseResultMap" type="com.groundnine.coupon.vo.CouponVo" >
    <id column="coupon_id" property="couponId" jdbcType="BIGINT" />
    <result column="coupon_name" property="couponName" jdbcType="VARCHAR" />
    <result column="expire_date" property="expireDate" jdbcType="TIMESTAMP" />
    <result column="brand_logo" property="brandLogo" jdbcType="VARCHAR" />
    <result column="using_rule" property="usingRule" jdbcType="VARCHAR" />
    <result column="buy_link" property="buyLink" jdbcType="VARCHAR" />
    <result column="received_times" property="receivedTimes" jdbcType="INTEGER" />
  </resultMap>
  
  <select id="selectCouponList" resultMap="BaseResultMap">
   	SELECT
		coupon_id,
		coupon_name,
		expire_date,
		brand_logo,
		buy_link,
		using_rule,
		received_times
	FROM
		`coupon` t1
	WHERE  is_del = 0 AND coupon_status = 1
    limit #{offset,jdbcType=INTEGER}, #{rows,jdbcType=INTEGER}
  </select>
  
  <update id="increaseCouponReceivedTimes">
  	UPDATE coupon
	SET received_times = received_times + 1
	WHERE
		coupon_id = #{couponId,jdbcType=INTEGER}
  </update>
  
</mapper>