<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.groundnine.coupon.dao.CouponItemDao" >
  <resultMap id="BaseResultMap" type="com.groundnine.coupon.model.CouponItem" >
 	<id column="id" property="id" jdbcType="BIGINT" />
    <result column="coupon_id" property="couponId" jdbcType="BIGINT" />
    <result column="coupon_code" property="couponCode" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="receive_time" property="receiveTime" jdbcType="TIMESTAMP" />
    <result column="is_del" property="isDel" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, coupon_id, coupon_code, user_id, receive_time, is_del, create_time, update_time
  </sql>
   <sql id="Coupon_Item_Query_Condition">
   where t2.is_del = 0
	      <if test="condition.couponId != null and condition.couponId !=''">
	        and t1.coupon_id = #{condition.couponId,jdbcType=BIGINT}
	      </if>
	      <if test="condition.couponName != null and condition.couponName !=''">
	        and t1.coupon_name like CONCAT(#{condition.couponName,jdbcType=VARCHAR}, '%') 
	      </if>
	      <if test="condition.userId != null and condition.userId !=''">
	        and t2.user_id = #{condition.userId,jdbcType=VARCHAR}
	      </if>
	      <if test="condition.receiveStartTime != null ">
	        and t2.receive_time <![CDATA[ >= ]]> #{condition.receiveStartTime,jdbcType=TIMESTAMP}
	      </if>
	      <if test="condition.receiveEndTime != null">
	        and t2.receive_time <![CDATA[ <= ]]> #{condition.receiveEndTime,jdbcType=TIMESTAMP}
	      </if>
	      <if test="condition.createStartTime != null ">
	        and t2.create_time <![CDATA[ >= ]]> #{condition.createStartTime,jdbcType=TIMESTAMP}
	      </if>
	      <if test="condition.createEndTime != null">
	        and t2.create_time <![CDATA[ <= ]]> #{condition.createEndTime,jdbcType=TIMESTAMP}
	      </if>
  </sql>
  <insert id="batchInsert" parameterType="com.groundnine.coupon.vo.CouponInfoVo" >
     
       INSERT INTO `coupon_item` (
		`coupon_id`,
		`coupon_code`
		)
		VALUES
	 <foreach collection="coupon.couponItemPersistVos" separator="," item="couponItem">
        ( #{coupon.couponId},
         #{couponItem.couponCode})
     </foreach> 
  </insert>
  
  <insert id="batchInsertCouponItem" >
     
       INSERT INTO `coupon_item` (
		`coupon_id`,
		`coupon_code`
		)
		VALUES
	 <foreach collection="couponCodes" separator="," item="couponCode">
        ( #{couponId},
         #{couponCode})
     </foreach> 
  </insert>
  <insert id="insert" parameterType="com.groundnine.coupon.model.CouponItem" >
    insert into coupon_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="couponId != null" >
        coupon_id,
      </if>
      <if test="couponCode != null" >
        coupon_code,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="receiveTime != null">
        receive_time,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="couponId != null" >
        #{couponId,jdbcType=BIGINT},
      </if>
      <if test="couponCode != null" >
        #{couponCode,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="receiveTime != null">
        #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="selectByCouponId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from coupon_item
    where  
    	coupon_id = #{couponId,jdbcType=BIGINT}
  </select>
  <update id="updateBySelective" parameterType="map" >
    update coupon_item
    <set >
      <if test="record.couponId != null" >
        coupon_id = #{record.couponId,jdbcType=BIGINT},
      </if>
      <if test="record.couponCode != null" >
        coupon_code = #{record.couponCode,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.receiveTime != null">
        receive_time = #{record.receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDel != null" >
        is_del = #{record.isDel,jdbcType=BIT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
  </update>
  
  
  <resultMap id="CouponItemInfoResultMap" type="com.groundnine.coupon.vo.CouponItemInfo" >
    <result column="coupon_id" property="couponId" jdbcType="BIGINT" />
    <result column="coupon_code" property="couponCode" jdbcType="VARCHAR" />
    <result column="coupon_name" property="couponName" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="receive_time" property="receiveTime" jdbcType="TIMESTAMP" />
    <result column="expire_date" property="expireDate" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  
  <select id="selectByCondition" parameterType="map" resultMap="CouponItemInfoResultMap">
    SELECT
		t1.coupon_id,
		t1.coupon_name,
		t1.expire_date,
		t2.coupon_code,
		t2.user_id,
		t2.receive_time,
		t2.create_time,
		t2.update_time
	FROM
	`coupon` t1
	INNER JOIN coupon_item t2 ON t2.coupon_id = t1.coupon_id
    <include refid="Coupon_Item_Query_Condition"></include>
    limit #{pageStart,jdbcType=INTEGER}, #{rows,jdbcType=INTEGER}
  </select>
  
  <select id="countAmountByCondition" resultType="java.lang.Integer" >
    select
   		count(*)
    from `coupon` t1
	INNER JOIN coupon_item t2 ON t2.coupon_id = t1.coupon_id
    <include refid="Coupon_Item_Query_Condition"></include>
  </select>
  
</mapper>